.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map {
  display: inline-block;
  width: 70%;
  height: 500px;
  vertical-align: top;
}


.list-locations {
  display: inline-block;
  width: 30%;
  height: 500px;
  vertical-align: top;
}

.list-locations ul {
  padding: 10px;
  margin: auto;
}

.list-locations ul li {
  padding: 3px;
}

.search-form {
  margin: 10px;
}

.search-input {

}

.search-filter {
  background-color: limegreen;
}
